.large{
    font-size: large;
}
.page-header{
    margin-top: 0em;
    margin-bottom: 0em;
}

.well-correctme-as-button{
    color: darkblue;
    margin-bottom: 0.6em;
    font-size: large;
    padding: 0.6em;
    font-weight: bold;
}
.well-correctme-as-button:hover{
    background-color:  rgb(51,122,183);
    color: white;
    cursor: pointer;
    font-size: large;
    padding: 0.6em;
    font-weight: bold;
}

@media(max-width:600px) {
    .hide_on_small_display{
        display:none;        
    }
}