.input-group-addon-lesson{
    min-width:158px;
    text-align: right;
    padding-right: 0.2em;
    vertical-align: top;
    padding-top: 0.7em;
}
.input-group-addon-student-join{
    text-align: right;
    min-width:140px;
}

.input-group-addon-rejoin{
    min-width:100px;
}
.input-group-lesson{
    margin-bottom: 10px;
}
.cm_input_group_rejoin{
    d/isplay: none;
}