.navbar-student .navbar-brand{color: white;}

.navbar-student-btn{
    margin-left: 15px;   
    margin-bottom: 0.0em;   
}
.task_text{
    display: inline;
}
.task_how_true_often_button{
    b/order-width: 0px;
    margin-bottom: 0.5em;
    text-align: left;
    vertical-align: middle;
    b/ackground-color: rgb(219,237,255);
}
.task_how_true_often_button:focus{
    background-color: darkgreen;
}
.task_how_true_often_button_dont_know{
    border-width: 2px;
    background-color: white;
    color: black;
}
.task_how_true_often_label{
    padding-left: 2em;
    padding-bottom: 1em;    
    vertical-align: middle;
}
.taskDisplay_how_often_true{
    max-width: 480px;
}
.task_label{
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: large;
    margin-left: 0em;
    margin-right: 0em;
}
.btn_task{
    margin-right: 0.3em;
    margin-bottom: 0.3em;
}
.btn_task:hover{
    border:1px solid black;
}
.btn_task_move{
    color: black;
    cursor: pointer;
}
.btn_task_move:hover{
    color: black;
    cursor: pointer;
    border:1px solid black;
}

.btn_task_inactive, .btn_task_inactive:hover, .btn_task_inactive:active, .btn_task_inactive:visited{
    c/olor: transparent;
    cursor: default;
    border-color: transparent;
}

.btn_task_current{
    cursor: default;
}
.btn_task_finished{
    background-color: rgb(92,184,92);
    color: white;
}
.btn_task_current:hover{
    background-color: rgb(51,122,183);
    border-color:transparent;
}
#countdown_server_save{
    margin-bottom:1em;
}
.lessonInfo{
    color: grey;
    font-size: 85%;
}
.lessonInfo_warning{
    color: darkred;
}
#taskNav_first{
    margin-bottom: 1em;
    
}
#taskNav_second{
    margin-bottom: 1em;    
}
#lessonInfo{
    margin-bottom: 1em;    
}
#student_think_btn_task_help{
    margin-left: 2em;
}
.fa-check-cm{
    color:rgb(92,184,92)    
}


.invisible{visibility: hidden;}
.background_yellow{background-color: yellow;}
.background_white{background-color: white;}
.border_1px{border:1px solid black;}
.no_padding_right{padding-right: 0em;}
.no_padding_left{padding-left: 0em;}
.display_none{display:none;}
.display_inline{display:inline;}


