.input-group-addon-lesson{
    min-width:158px;
    text-align: right;
    padding-right: 0.2em;
    vertical-align: top;
    padding-top: 0.7em;
}
.input-group-addon-tasks{
    padding:0em;
    background:transparent;
    border-width: 0px
}
.input-group-addon-student-join{
    text-align: right;
    min-width:140px;
}
.input-group-addon-rejoin{
    min-width:100px;
}
.input-group-lesson{
    margin-bottom: 10px;
}
.task{
    margin-bottom: 0.2em;
}
.task_action_buttons_label{
    text-align:left;
}
.task label{
    vertical-align: top;
}
.task_type{
    margin-right: 0.5em;
}
.task_input{
     border-bottom-left-radius: 4px;
     border-top-left-radius: 4px;
    -webkit-transition: height 0.2s -webkit-transform 0.2s;
    transition: height 0.2s, transform 0.2s;
}

.btn_delete_task{
    margin-left: 0.3em;
}
.btn_task_sort_place_here{
    margin-top: 0.2em;
    margin-left: 0.3em;
    border:1px solid black;
}